@{
    ViewData["Title"] = "Home Page";
}

<div class="banner header-text">
    <section class="hero-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="text-center mb-5 pb-2">
                        <h1 class="text-white">TIENDA DE ARTÍCULOS MUSICALES</h1>

                        <p class="text-white">Tenemos todo lo que necesitas.</p>

                        <a href="Productos" class="btn custom-btn smoothscroll mt-3">VER PRODUCTOS</a>
                    </div>

                    <div class="owl-carousel owl-theme">
                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/SAMPLE-ROLAND.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">
                                    BATERÍA
                                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="">
                                </h4>
                                <span class="badge">Instrumento</span>
                            </div>
                        </div>

                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/BAJO-IBANEZ.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">
                                    BAJO
                                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="">
                                </h4>
                                <span class="badge">Instrumento</span>
                            </div>

                        </div>

                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/GUITARRA-GODIN.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">GUITARRA</h4>
                                <span class="badge">Instrumento</span>
                            </div>
                        </div>

                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/KORG.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">TECLADO</h4>
                                <span class="badge">Instrumento</span>
                            </div>
                        </div>

                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/RCF.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">
                                    ARRAY
                                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="">
                                </h4>
                                <span class="badge">Sonido</span>
                            </div>
                        </div>

                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/SABIAN.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">PLATILLO</h4>
                                <span class="badge">Instrumento</span>
                            </div>
                        </div>
                        <div class="owl-carousel-info-wrap item">
                            <img src="/images/profile/TAMA.jpg" class="owl-carousel-image img-fluid" alt="">

                            <div class="owl-carousel-info">
                                <h4 class="mb-2">BATERÍA</h4>
                                <span class="badge">Instrumento</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>





<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Acerca de nuestra Tienda</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Conoce algo de lo que tenemos</h4>
                    <p><a rel="nofollow" href="Productos" target="_parent">Los Productos</a> son de execelente calidad con garantía. <a rel="nofollow" href="Home/Contactos">Contactos</a> para mayor información.</p>
                    <ul class="featured-list">
                        <li><a href="#">Instrumentos de cuerda</a></li>
                        <li><a href="#">Instrumentos Electrónicos</a></li>
                        <li><a href="#">Instrumentos de Percusión</a></li>
                        <li><a href="#">Instrumentos de Viento</a></li>
                        <li><a href="#">Sistemas de Sonido</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/assets/images//TIENDA.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Tienda de <em>Música -</em> Productos</h4>
                            <p>Échale un vistazo a nuestro Catálogo.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="Productos" class="filled-button">VER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
