<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">



    <title>SIS457-MUSICA</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--

    TemplateMo 546 Sixteen Clothing

    https://templatemo.com/tm-546-sixteen-clothing

    -->
    <!-- Complemento EVER -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link href="~/css/templatemo-pod-talk.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/WebMusicaMVC.styles.css" asp-append-version="true" />




</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h2>
                        <img width="60" src="~/images/logoever/LOGO.png" />
                        MUSICA <em>SIS457</em>
                    </h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link " href="/">
                                Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contactos">Contactos</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {

                            <!--INICIO MENU ADMINISTRADOR-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="UnidadMedidas" asp-action="Index">U.Medida</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Categorias" asp-action="Index">Categorías</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Pais" asp-action="Index">Pais</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Departamentos" asp-action="Index">Departamentos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Ciudades" asp-action="Index">Ciudades</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="VentaDetalles" asp-action="Index">Venta Detalle</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    </li>


                                </ul>
                            </li>
                            <!-- FIN MENU ADMINISTRADOR-->
                        }

                    </ul>


                    <!--INICIO CARRITO-->
                    <button class="btn btn-close-white">

                        <ul>
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Carrito">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>

                        </ul>
                        <span class="badge bg-dark text-white ms-1 rounded-pill contador-carrito">0</span>
                    </button>
                    <!-- FIN CARRITO-->
                    <!--INICIO SESION-->
                    @if (User.Identity?.IsAuthenticated == false)
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success w-51" style="color: wheat">
                            <ul class="btn-close-white ">
                                <li><i class="fa fa-lock"></i> Ingresar</li>
                            </ul>
                        </a>
                        /*<a href="Productos" class="btn  btn-success  w-51 ">
                        <ul class="btn-close-white ">
                        <li><i class="fa fa-lock"></i> Ingresar</li>
                        </ul>
                        </a>*/
                    }
                    else
                    {
                        @await Html.PartialAsync("_LogoutPartial")

                    }



                    <!--FIN SESION-->


                </div>

            </div>

        </nav>

    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>
                            Copyright &copy; 2020 SIS457.

                            - INFORMÁTICA: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">U.M.R.P.S.F.X.CH.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/accordions.js"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
